:root {
    --h4--font: Verdana, Geneva, Tahoma, sans-serif;
    --color-a: #c5bdff;
    --color-b: #0c3ceb;
    --color-c1: hsl(207, 100%, 62%);
    --color-c3: #003983;
	--color-c2: white;
    --color-d: #ffd000;
    --color-e: #b0ffed;
	--color-box-left: #ffffff;
	--color-main: white;
	--color-header-text: var(--color-c3);
	--color-subheaders: black;
	--color-p: rgba(0, 0, 0, 0.568);
	--color-links: var(--color-c3);
	--color-main-border: var(--color-c3);
}

@media print {
    html,
    body {
        height: 100%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
}

body {
    margin: auto;
    background-color: var(--color-main);
    width: 210mm;
    height: 297mm;
    position: relative;
    display: flex;
    flex-direction: column;
}

header {
    height: 33mm;
    background-color: var(--bg-color);
    color: var(--color-header-text);
    position: relative;
}

#cv,
header h1 {
    text-align: left;
}

#header-content {
    width: 100%;
    padding-left: 33mm;
    position: absolute;
    bottom: -2mm;
}

#cv {
    font-family: "Times New Roman", Times, Georgia, serif;
    display: inline;
    font-size: 8mm;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 18mm;
    padding-bottom: 0;
    margin-bottom: 0;
    display: inline;
}

.flex-container {
    display: flex;
    flex-direction: row;
    height: 90%;
    width: 100%;
    flex-grow: 1;
    position: relative;
}

#box-left {
    width: 250mm;
    background-color: var(--color-box-left);
    padding: 5mm;
    padding-left: 3mm;
    padding-top: 6mm;
}

.contacts,
.skills,
.languages {
    font-family: var(--h4--font);
    font-size: 3.6mm;
    width: 85%;
    margin: auto;
    margin-bottom: 15mm;
    margin-top: 15mm;
    padding-top: 15mm;
    line-height: 5.5mm;
    border-top: solid rgba(0, 0, 0, 0.137) 1px;
	text-align: center;
}

.contacts {
    margin-top: 0;
    padding-top: 0;
    border: none;
}

.skills-list {
    margin-bottom: 5mm;
}
.skill {
    list-style: none;
	text-align: center;
}

main {
    height: 100%;
    padding: 5mm 10mm 5mm 10mm;
	border: 2px solid black;
	border-color: var(--color-c3);
	border-right: none;
}

main div h4 {
    font-family: var(--h4--font);
    font-weight: lighter;
    font-size: 5mm;
    margin-bottom: 2mm;
	color: var(--color-subheaders);
}

main div p,
.links {
    font-family: "Times New Roman", Times, serif;
}

h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-top: 2.5mm;
    margin-bottom: 1mm;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.education {
    margin-bottom: 2mm;
}

.job {
    margin-bottom: 2mm;
}

p {
	color: var(--color-p);
    line-height: 4.5mm;
}

a {
    color: black;
}

.links {
    bottom: 0mm;
    margin: auto;
    margin-top: 2mm;
}

.links a {
	color: var(--color-links);
    font-family: var(--h4--font);
    font-size: smaller;
    line-height: 6.2mm;
}

.links a:visited {
	color: var(--color-links);
}

footer {
    height: 25mm;
    background-color: var(--bg-color);
    width: 100%;
    padding-left: 46mm;
}
